<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Track</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
</head>

<body>
    <h1>The Team</h1>

    <div class="card-container">
        <% for(let i=0; i < students.length; i++){ %>
            <div class="card">
                <img src="<%= students[i].image %>" alt="Profile Picture">
                <h2><%= students[i].name %></h2>
                <p>Grade: <%= students[i].grade %></p>

                <div class="button-wrapper">
                    <button onclick="deletePlayer('<%= students[i]._id %>')">Delete</button>
                </div>
            </div>
            <% } %>
    </div>
    <script src="script.js"></script>
</body>

</html>